@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Serif+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.body, #root{
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

